@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Open+Sans:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Nanum Gothic Coding', monospace, sans-serif;
}


body {
    font-size: 10px;
}

li {
    list-style: none;
}

.global_nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.global_nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 44px;
    margin: 0 auto;
}

.global_nav ul li {
    
}

.global_nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.4em;
}

.global_nav ul li a i {
    font-size: 1.6em;
}

.sub_nav_content {
    color: black;
    height: 52px;
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 1;
}

.sub_nav_content_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    font-size: 1.4em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sub_nav_content_area h2 {
    font-weight: 600;
}

.sub_nav_content_area .utils {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.sub_nav_content_area .utils li {
    margin-left: 30px;
}

.sub_nav_content_area .utils li:last-child {
    background: #0071e3;
    padding: 5px 10px;
    border-radius: 30px;
}

.scroll_section {
    color: black;
    padding-top: 50vh;
    border: 1px solid red;
}

.scroll_section_0 {
    position: relative;
}



.first_contents {
    width: 100%;
    text-align: center;
    margin-top: -110px;
}

.first_contents h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 13em;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.first_contents .view_movie {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.7em;
}

.first_contents .view_movie div:first-child {
    margin-right: 30px;
}

.sticky_el {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    display: none;
}

.sticky_el_canvas {
    top: 0;
    height: 100%;
}

.sticky_el_canvas canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}

.sticky_el.main_message {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5em; 
    font-weight: bold;
    opacity: 0;
}

#show_scene_0 .scroll_section_0 .sticky_el,
#show_scene_1 .scroll_section_1 .sticky_el,
#show_scene_2 .scroll_section_2 .sticky_el,
#show_scene_3 .scroll_section_3 .sticky_el {
    display: block;
}

.desc_message {
    width: 50%;
    font-weight: bold;
}

.scroll_section_2 .b {
    top: 10%;
    left: 40%;
}

.scroll_section_2 .c {
    top: 15%;
    left: 45%;
}

.pin {
    width: 1px;
    height: 100px;
    background: rgb(29, 29, 29);
}

@media (min-width: 1024px) {
    .scroll_section_2 .b {
        top: 20%;
        left: 53%;
    }
    
    .scroll_section_2 .c {
        left: 55%;
    }
}