@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Open+Sans:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Nanum Gothic Coding', monospace, sans-serif;
}


body {
    background: black;
    font-size: 10px;
}

li {
    list-style: none;
}

.global_nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.global_nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 44px;
    margin: 0 auto;
}

.global_nav ul li {
    
}

.global_nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.4em;
}

.global_nav ul li a i {
    font-size: 1.6em;
}

.sub_nav_content {
    color: white;
    height: 52px;
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0;
}

.sub_nav_content_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    font-size: 1.4em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sub_nav_content_area h2 {
    font-weight: 600;
}

.sub_nav_content_area .utils {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.sub_nav_content_area .utils li {
    margin-left: 30px;
}

.sub_nav_content_area .utils li:last-child {
    background: #0071e3;
    padding: 5px 10px;
    border-radius: 30px;
}

.scroll_section {
    color: white;
    padding-top: 50vh;
    border: 1px solid red;
}

.scroll_section_0 {
    position: relative;
}

.sticky_el {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
}

#show_scene_0 .scroll_section_0 .sticky_el,
#show_scene_1 .scroll_section_1 .sticky_el,
#show_scene_2 .scroll_section_2 .sticky_el,
#show_scene_3 .scroll_section_3 .sticky_el {
    display: block;
}